Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [84]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [85]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [86]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [99]:
Content=[]
content=driver.find_elements(By.TAG_NAME,'td')
for i in content[2:181]:
    content=i.text
    Content.append(content)

In [100]:
len(Content)

179

In [101]:
Rank=Content[0::6]
Name=Content[1::6]
Artist=Content[2::6]
Upload_date=Content[4::6]
Views=Content[3::6]

In [102]:
print(len(Rank),len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30 30

In [103]:
df=pd.DataFrame({'Rank':Rank,'Most Viewed Video Name':Name,'Artist':Artist,'Publication date':Upload_date,'Views in billion':Views})
df

,Rank,Most Viewed Video Name,Artist,Publication date,Views in billion
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.30
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.97
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.45
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.63
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.60
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.87
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.54
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.34
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.06
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.65
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.64
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.50
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.36
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.34
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.26
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.25
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.24
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.15

In [104]:
driver.close()

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [12]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [13]:
driver.get("https://www.bcci.tv/")

In [14]:
International_tag=driver.find_element(By.XPATH,".//*[contains(text(),'INTERNATIONAL')]")
International_tag.click()

In [15]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[1]').click()

In [16]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[1]/input').click()

In [17]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[1]/input').send_keys('India')

In [18]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[3]').click()

In [21]:
driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]').click()

In [25]:
Series=[]
series=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series:
    series=i.text
    Series.append(series)

In [28]:
Date=[]
date=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]')
for i in date:
    date=i.text
    Date.append(date)

In [29]:
Time=[]
time=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time:
    time=i.text
    Time.append(time)

In [30]:
Match_title=[]
title=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title:
    title=i.text
    Match_title.append(title)

In [31]:
Location=[]
location=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in location:
    location=i.text
    Location.append(location)

In [32]:
Location

['1st T20I - Punjab Cricket Association IS Bindra Stadium, Mohali',
 '2nd T20I - Vidarbha Cricket Association Stadium, Nagpur',
 '3rd T20I - Rajiv Gandhi International Stadium, Hyderabad',
 '1st T20I - Greenfield International Stadium, Thiruvananthapuram',
 '2nd T20I - Barsapara Cricket Stadium, Guwahati',
 '3rd T20I - Holkar Cricket Stadium, Indore',
 '1st ODI - Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow',
 '2nd ODI - JSCA International Stadium Complex, Ranchi',
 '3rd ODI - Arun Jaitley Stadium, Delhi']

In [33]:
Place=[item.split(',',1)[1]for item in Location]
Place

[' Mohali',
 ' Nagpur',
 ' Hyderabad',
 ' Thiruvananthapuram',
 ' Guwahati',
 ' Indore',
 ' Lucknow',
 ' Ranchi',
 ' Delhi']

In [34]:
df=pd.DataFrame({'Match_title':Match_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})

In [35]:
df

,Match_title,Series,Place,Date,Time
0,1st T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,Mohali,20 SEP 2022,7:30 PM IST
1,2nd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,Nagpur,23 SEP 2022,7:30 PM IST
2,3rd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,Hyderabad,25 SEP 2022,7:30 PM IST
3,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,Thiruvananthapuram,28 SEP 2022,7:30 PM IST
4,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,Guwahati,2 OCT 2022,7:30 PM IST
5,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,Indore,4 OCT 2022,7:30 PM IST
6,1st ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,Lucknow,6 OCT 2022,1:30 PM IST
7,2nd ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,Ranchi,9 OCT 2022,1:30 PM IST
8,3rd ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,Delhi,11 OCT 2022,1:30 PM IST

In [36]:
driver.quit()

Q3. Scrape the details of selenium exception from guru99.com.

In [50]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [51]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [52]:
driver.get("https://www.guru99.com/")

In [53]:
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

In [54]:
driver.find_element(By.XPATH,'/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5').click()

In [55]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').click()

In [76]:
Description=[]
description=driver.find_elements(By.TAG_NAME,'p')
for i in description[2:43]:
    description=i.text
    Description.append(description)

In [77]:
Description

['1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 '2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 '3. NoSuchElementException: This Exception occurs if an element could not be found.',
 '4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.',
 '5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.',
 '6. NoSuchWindowException: This Exception occurs if the window target to be switch does not exist.',
 '7. StaleElementReferenceException: This Selenium exception occurs happens when the web element is detached from the current DOM.',
 '8. SessionNotFoundException: The WebDriver is acting after you quit the browser.',
 '9. TimeoutException: Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 '10. WebDriverException: This Exception takes place when the WebDriver is acting right after you close the browser.',
 '11. ConnectionClosedException: This type of Exception takes place when there is a disconnection in the driver.',
 '12. ElementClickInterceptedException: The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 '13. ElementNotInteractableException: This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 '14. ErrorInResponseException: This happens while interacting with the Firefox extension or the remote driver server.',
 '15. ErrorHandler.UnknownServerException: Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 '16. ImeActivationFailedException: This expectation will occur when IME engine activation has failed.',
 '17. ImeNotAvailableException: It takes place when IME support is unavailable.',
 '18. InsecureCertificateException: Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 '19. InvalidArgumentException: It occurs when an argument does not belong to the expected type.',
 '20. InvalidCookieDomainException: This happens when you try to add a cookie under a different domain instead of current URL.',
 '21. InvalidCoordinatesException: This type of Exception matches an interacting operation that is not valid.',
 '22. InvalidElementStateException: It occurs when command can’t be finished when the element is invalid.',
 '23. InvalidSessionIdException: This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 '24. InvalidSwitchToTargetException: This occurs when the frame or window target to be switched does not exist.',
 '25. JavascriptException: This issue occurs while executing JavaScript given by the user.',
 '26. JsonException: It occurs when you afford to get the session when the session is not created.',
 '27. NoSuchAttributeException: This kind of Exception occurs when the attribute of an element could not be found.',
 '28. MoveTargetOutOfBoundsException: It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 '29. NoSuchContextException: ContextAware does mobile device testing.',
 '30. NoSuchCookieException: This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 '31. NotFoundException: This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 '32. RemoteDriverServerException: This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 '33. ScreenshotException: It is not possible to capture a screen.',
 '34. SessionNotCreatedException: It happens when a new session could not be successfully created.',
 '35. UnableToSetCookieException: This occurs if a driver is unable to set a cookie.',
 '36. UnexpectedTagNameException: Happens if a support class did not get a web element as expected.',
 '37. UnhandledAlertException: This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 '38. UnexpectedAlertPresentException: It occurs when there is the appearance of an unexpected alert.',
 '39. UnknownMethodException: This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 '40. UnreachableBrowserException: This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 '41. UnsupportedCommandException: This occurs when remote WebDriver doesn’t send valid commands as expected.']

In [80]:
Exception=[item.split(': ',1)[0]for item in Description]
Exception_Description=[item.split(': ',1)[1]for item in Description]

In [82]:
df=pd.DataFrame({'Exceptions':Exception,'Exception Description':Exception_Description})
df

,Exceptions,Exception Description
0,1. ElementNotVisibleException,This type of Selenium exception occurs when an...
1,2. ElementNotSelectableException,This Selenium exception occurs when an element...
2,3. NoSuchElementException,This Exception occurs if an element could not ...
3,4. NoSuchFrameException,This Exception occurs if the frame target to b...
4,5. NoAlertPresentException,This Exception occurs when you switch to no pr...
5,6. NoSuchWindowException,This Exception occurs if the window target to ...
6,7. StaleElementReferenceException,This Selenium exception occurs happens when th...
7,8. SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,9. TimeoutException,Thrown when there is not enough time for a com...
9,10. WebDriverException,This Exception takes place when the WebDriver ...
10,11. ConnectionClosedException,This type of Exception takes place when there ...
11,12. ElementClickInterceptedException,The command may not be completed as the elemen...
12,13. ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,14. ErrorInResponseException,This happens while interacting with the Firefo...
14,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,16. ImeActivationFailedException,This expectation will occur when IME engine ac...
16,17. ImeNotAvailableException,It takes place when IME support is unavailable.
17,18. InsecureCertificateException,Navigation made the user agent to hit a certif...
18,19. InvalidArgumentException,It occurs when an argument does not belong to ...
19,20. InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,21. InvalidCoordinatesException,This type of Exception matches an interacting ...
21,22. InvalidElementStateException,It occurs when command can’t be finished when ...
22,23. InvalidSessionIdException,This Exception took place when the given sessi...
23,24. InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,25. JavascriptException,This issue occurs while executing JavaScript g...
25,26. JsonException,It occurs when you afford to get the session w...
26,27. NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,29. NoSuchContextException,ContextAware does mobile device testing.
29,30. NoSuchCookieException,This Exception occurs when no cookie matching ...
30,31. NotFoundException,This Exception is a subclass of WebDriverExcep...
31,32. RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,33. ScreenshotException,It is not possible to capture a screen.
33,34. SessionNotCreatedException,It happens when a new session could not be suc...
34,35. UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,36. UnexpectedTagNameException,Happens if a support class did not get a web e...
36,37. UnhandledAlertException,This expectation occurs when there is an alert...
37,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,39. UnknownMethodException,This Exception happens when the requested comm...
39,40. UnreachableBrowserException,This Exception occurs only when the browser is...
40,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t send...

In [83]:
driver.close()

Q5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [3]:
driver.get('https://github.com/')

In [4]:
driver.find_element(By.XPATH,'/html/body/div[1]/header/div[3]/nav/a[5]').click()

In [5]:
driver.find_element(By.XPATH,'/html/body/div[5]/main/div[1]/nav/div/a[3]').click()

In [6]:
Repository_title=[]
title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title:
    title=i.text
    Repository_title.append(title)

In [14]:
Repository_description=[]
description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description:
    description=i.text
    Repository_description.append(description)

In [16]:
Repository_description.append('-')

In [18]:
Details=[]
details=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in details:
    details=i.text
    Details.append(details)

In [19]:
Contributors=Details[::2]

In [36]:
Des=[]
try:
    des=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]')
    for i in des:
        des=i.text
        Des.append(des)
except NoSuchElementException:
    Des.append('-')

In [50]:
Language=[item.split(' ',1)[0]for item in Des]

In [52]:
for i in range(len(Language)):
    if Language[i] == '8,255':
        Language[i] = '-'
    if Language[i] == '42,195':
        Language[i] = '-'
    if Language[i] == '248,344':
        Language[i] = '-'
    if Language[i] == '164,950':
        Language[i] = '-'
    if Language[i] == '232,300':
        Language[i] = '-'
    if Language[i] == '232,300':
        Language[i] = '-'
    if Language[i] == '7,550':
        Language[i] = '-'
print(Language)

['Python', 'TypeScript', 'Rust', '-', 'Jupyter', '-', '-', '-', 'C++', '-', 'TypeScript', 'Swift', 'TypeScript', 'Vue', '362', 'Python', 'Shell', 'Python', 'TypeScript', 'JavaScript', '-', 'C#', 'TypeScript', 'Python', 'C#']

In [53]:
df=pd.DataFrame({'Repository_title':Repository_title,'Repository_description':Repository_description,'Contributors':Contributors,'Language_used':Language})
df

,Repository_title,Repository_description,Contributors,Language_used
0,TheAlgorithms /,All Algorithms implemented in Python,"143,667",Python
1,n8n-io /,Free and source-available fair-code licensed w...,"24,941",TypeScript
2,surrealdb /,"A scalable, distributed, collaborative, docume...","5,532",Rust
3,qazbnm456 /,🐶 A curated list of Web Security materials and...,"8,255",-
4,karpathy /,Neural Networks: Zero to Hero,"1,343",Jupyter
5,Developer-Y /,List of Computer Science courses with video le...,"42,195",-
6,EbookFoundation /,📚 Freely available programming books,"248,344",-
7,codecrafters-io /,Master programming by recreating your favorite...,"164,950",-
8,SerenityOS /,The Serenity Operating System 🐞,"21,228",C++
9,jwasham /,A complete computer science study plan to beco...,"232,300",-
10,kamranahmedse /,Roadmap to becoming a developer in 2022,"211,306",TypeScript
11,danielgindi /,Beautiful charts for iOS/tvOS/OSX! The Apple s...,"25,807",Swift
12,meienberger /,⛺️ Tipi is a homeserver for everyone! One comm...,"3,330",TypeScript
13,hoppscotch /,👽 Open source API development ecosystem - http...,"46,471",Vue
14,neurreps /,A curated collection of resources and research...,362,362
15,minimaxir /,The Big List of Naughty Strings is a list of s...,"43,443",Python
16,gothinkster /,"""The mother of all demo apps"" — Exemplary full...","68,903",Shell
17,AUTOMATIC1111 /,Stable Diffusion web UI,"2,657",Python
18,apihero-run /,"JSON Hero is an open-source, beautiful JSON ex...","4,791",TypeScript
19,benphelps /,A highly customizable homepage (or startpage /...,923,JavaScript
20,InterviewReady /,These are the best resources for System Design...,"7,550",-
21,jellyfin /,The Free Software Media System,"16,407",C#
22,AykutSarac /,🔮 Seamlessly visualize your JSON data instantl...,"11,721",TypeScript
23,yt-dlp /,A youtube-dl fork with additional features and...,"31,992",Python
24,PayloadSecurity /,-,119,C#

In [54]:
driver.close()

Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [3]:
driver.get('https://www.billboard.com/')

In [4]:
driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[2]/a').click()

In [5]:
driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a').click()

In [6]:
Details=[]
details=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in details:
    details=i.text
    Details.append(details)

In [7]:
len(Details)

100

In [10]:
Song_name=[item.split('\n',5)[0]for item in Details]
Artist_name=[item.split('\n',5)[1]for item in Details]
Last_week_rank=[item.split('\n',5)[2]for item in Details]
Peak_rank=[item.split('\n',5)[3]for item in Details]
weeks_onboard=[item.split('\n',5)[4]for item in Details]

In [12]:
df=pd.DataFrame({'Song name':Song_name,'Artist name':Artist_name,'Last week rank':Last_week_rank,'Peak rank':Peak_rank,'Weeks onboard':weeks_onboard})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks onboard
0,As It Was,Harry Styles,1,1,23
1,Bad Habit,Steve Lacy,2,2,10
2,Late Night Talking,Harry Styles,12,3,16
3,Sunroof,Nicky Youre & dazy,5,4,15
4,About Damn Time,Lizzo,3,1,21
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,96,12,18
96,Country On,Luke Bryan,-,76,3
97,Static,Steve Lacy,-,98,1
98,Billie Eilish.,Armani White,-,99,1
99,Sin Fin,Romeo Santos & Justin Timberlake,-,100,1

In [13]:
driver.close()

Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [15]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [16]:
driver.get('https://www.naukri.com/')

In [17]:
driver.find_element(By.XPATH,'//a[@title="Explore top companies hiring on Naukri"]').click()

In [18]:
driver.find_element(By.XPATH,'//span[@class="nI-gNb-sb__placeholder"]').click()

In [19]:
driver.find_element(By.XPATH,'/html/body/div/div[4]/div[2]/div[1]/div/div/div[1]/div/div/div/input').send_keys('Data Science')

In [20]:
driver.find_element(By.XPATH,'//span[@class="ni-gnb-icn ni-gnb-icn-search"]').click()

In [49]:
Designation=[]
start=0
end=3
for page in range(start,end):
    designation=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in designation:
        Designation.append(i.text)
    next_button=driver.find_element(By.XPATH,'//i[@class="naukicon naukicon-arrow ml-8 fleft fs16"]')
    next_button.click()
    time.sleep(3)

In [50]:
Page1=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[2]/div[3]/div/div/a[1]').click()

In [51]:
Company=[]
start=0
end=3
for page in range(start,end):
    company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
    for i in company:
        Company.append(i.text)
    next_button=driver.find_element(By.XPATH,'//i[@class="naukicon naukicon-arrow ml-8 fleft fs16"]')
    next_button.click()
    time.sleep(3)

In [52]:
Page1=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[2]/div[3]/div/div/a[1]').click()

In [53]:
Location=[]
start=0
end=3
for page in range(start,end):
    location=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for i in location:
        Location.append(i.text)
    next_button=driver.find_element(By.XPATH,'//i[@class="naukicon naukicon-arrow ml-8 fleft fs16"]')
    next_button.click()
    time.sleep(3)

In [54]:
Page1=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[2]/div[3]/div/div/a[1]').click()

In [62]:
Skills=[]
start=0
end=3
for page in range(start,end):
    skills=driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
    for i in skills:
        Skills.append(i.text)
    next_button=driver.find_element(By.XPATH,'//i[@class="naukicon naukicon-arrow ml-8 fleft fs16"]')
    next_button.click()
    time.sleep(5)

In [63]:
print(len(Skills),len(Designation),len(Company),len(Location))

59 59 59 59

In [64]:
df=pd.DataFrame({'Company':Company,'Designation':Designation,'Location':Location,'Skills they hire for':Skills})
df

,Company,Designation,Location,Skills they hire for
0,Accenture,Senior Analyst-Data Science,Bangalore/Bengaluru,Publishing\nConsulting\nPredictive modeling\nD...
1,Citicorp Finance,Hiring For AVP |Data Science and Business Anal...,"Pune, Bangalore/Bengaluru",R\nData Science\npython\nBusiness Analytics\nR...
2,Bartleby Technologies,Machine Learning/Technical Analyst/Data Science,Bangalore/Bengaluru,machine learning\nIT Skills\nData Science\nClo...
3,STARAGILE CONSULTING,Data Science Trainer,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",trainer\nBusiness Intelligence tools\nData Ana...
4,CliqHR Recruitment Services,Data Science/ ML freshers,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Data Science\nCNN\nKeras\nLSTM\nPytorch\nPytho...
5,United Phosphorus Limited,Lead - Data Science,Bangalore/Bengaluru,Data Science\nadvanced analytics\ndata analysi...
6,United Phosphorus Limited,Lead - Data Science,Bangalore/Bengaluru,Data Science\nadvanced analytics\ndigital anal...
7,Xpressbees (BusyBees Logistics Solutions Pvt. ...,Senior Manager - Data Science,"Pune, Bangalore/Bengaluru",Data Science\nIT Skills\nPython\nMachine Learn...
8,Evalueserve,Looking For Marketing Analytics / Campaign Ana...,Bangalore/Bengaluru,machine learning\nab tesing\nAttribution Model...
9,Evalueserve,Looking For Group Manager-Data Science(CPG) Fo...,Bangalore/Bengaluru,python\ndata science\nmachine learning\nBayesi...
10,Evalueserve,Looking For Group Manager-Data Science( Retail...,Bangalore/Bengaluru,python\ndata science\niri\nCART/CHAID\ndata an...
11,Evalueserve,Looking For Campaign Analytics (Data Science) ...,Bangalore/Bengaluru,Campaign Designing\nMedia Mix Modelling\nmachi...
12,Golden Opportunities,Assistant Manager/ Manager - Supply Chain Data...,Bangalore/Bengaluru,supply chain\nBPO\ninternational bpo\ndata ana...
13,DataTrained,Hiring Data Science Intern - DataTrained Educa...,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",Data Science\nMachine Learning\nPython\nPower ...
14,Huquo Consulting Pvt. Ltd,Senior Analyst & AI Lead - Data Science,"New Delhi, Faridabad, Gurgaon/Gurugram, Delhi ...",Data Science\nR\nNLP\nArtificial Intelligence\...
15,Huquo Consulting Pvt. Ltd,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,Gurgaon/Gurugram,Data Science\ndata analysis\nPython\nTableau\n...
16,Huquo Consulting Pvt. Ltd,Senior Analyst & AI Lead - Data Science,"Faridabad, Gurgaon/Gurugram, Delhi / NCR",Data Science\nR\nNLP\nArtificial Intelligence\...
17,Accenture,Senior Analyst-Data Science,Gurgaon/Gurugram,Publishing\nArtificial Intelligence\nConsultin...
18,Accenture,Senior Analyst-Data Science,Gurgaon/Gurugram,Publishing\nConsulting\nPredictive modeling\nD...
19,Survik Software Pvt Ltd,Trainee- Data Science,Pune,python\nData Analysis\nData Mining\nmachine le...
20,ZS Associates India Pvt Ltd,Data Science Consultant,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",Data Science\nLife Sciences\nHealthcare Domain...
21,TransUnion,Sr Data Science Analyst,Chennai,Python\nverbal communication\nAb Initio\nR\nSQ...
22,Ciena,Analyst Business Intelligence & Data Science,Gurgaon/Gurugram,Data Science\nBusiness Intelligence\ndata anal...
23,Huquo Consulting Pvt. Ltd,Consultant/Senior Manager - Analytics/Data Sci...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Data Science\nAnalytics\nManagement consulting...
24,Accenture,Team Lead/Consultant-Data Science,Bangalore/Bengaluru,Publishing\nData modeling\nConsulting\nAnalyti...
25,CitiusTech,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",Data Science\nNLP\nMachine Learning\nDeep Lear...
26,Infosys,Technology Lead - Data Science / Machine Learning,Bangalore/Bengaluru,Machine Learning\nData Science\nagile methodol...
27,HCL Technologies,HCL Hiring For Associate Manager role into Dat...,Chennai(Navalur),Power Bi\nTableau\nSSIS\nForecasting\nSQL\ncom...
28,Accenture,Data Science Analytics Manager,India,Business process\ndata science\nConsulting\nMo...
29,Mastermind Consultancy,Machine Learning Operations Engineer - Data Sc...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",Machine Learning\nJenkinsAzure\nDocker\nKubern...
30,TransUnion,"Analyst, Data Science & Analytics",Pune,SQL\ncommunication\nIT Skills\nData Science\nD...
31,Trust 9 International,Principal Data Science Engineer,Bangalore/Bengaluru,Order management\ndata science\nData modeling\...
32,Novartis Healthcare,"Senior Scientist, Data Science & Digital",Hyderabad/Secunderabad,Automation\nData analysis\nSimulation\nAnalyti...
33,Accenture,Senior Analyst-Data Science,Mumbai,Publishing\nArchitecture\nConsulting\nMachine ...
34,CuneSoft,Senior Software Developer - NLP/Machine Learni...,Bangalore/Bengaluru,Data Science\nC#\n.Net\nOpenNLP\nR Studio\ndat...
35,Rapidflow Apps,Hiring MDM Consultant (Data Science Domain),"Noida, Bangalore/Bengaluru\n(WFH during Covid)",MDM\nmaster data management\nERP\ncommunicatio...
36,Black Turtle,Manager - Data Science - Banking & Financial S...,"Delhi / NCR, Bangalore/Bengaluru",Financial Services\nLeadership\nR\nHive\nSAS\n...
37,Trane Technologies,Technical Manager - Data Sciences,Bangalore/Bengaluru,IT Skills\nPython\nData Science\nMachine Learn...
38,Cognizer India Private Limited,Data Science,Bangalore/Bengaluru,Python\nMachine learning\nGCP\nNatural Languag...
39,Google,"Product Analyst, Data Science, Engineering",Bangalore/Bengaluru,Product management\nComputer science\nData ana...
40,CRED,data science analyst,Bangalore/Bengaluru,Analytical skills\nHealth insurance\ndata scie...
41,Gilbert Research Center,Internship Coursework Program - Machine Learni...,Remote,Pandas\nProgramming\nC Programming Language\nN...
42,Hitachi Energy,Data Science Engineer,Vadodara,Order management\nData analysis\nSAP\nNetworki...
43,PlaceMinds Consulting Pvt. Ltd,Senior Data Science / Expert -Tableau,Bangalore/Bengaluru,Tableau\nData Science\nR\nSAS\nMicrosoft Excel...
44,HR MIND Services LLP (Part of Profilers Group),Sr. Data Science Professional,"Gurgaon/Gurugram, Bangalore/Bengaluru",Natural Language Processing\nmachine learning\...
45,Orcapod Consulting Services Private Limited,Sr. Manager- Data Science,"Noida, Hyderabad/Secunderabad, Gurgaon/Gurugra...",deep learning\nnlp\ndata science\nIT Skills\nP...
46,Tredence,Senior Manager- Data Science,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR",python\ndata science\nUnsupervised Learning\nm...
47,Cigna TTK,Senior Analyst (Data Science),Bangalore/Bengaluru,Cloud computing\nData analysis\nNoSQL\nBusines...
48,Optum,Director Data Science,Gurgaon/Gurugram,Data Science\nNLP\nBusiness Analytics\ndata st...
49,Huquo Consulting Pvt. Ltd,Analyst - Data Science - Python/Machine Learni...,Gurgaon/Gurugram,Python\nData Science\nStatistical Modeling\nDa...
50,Six Sails Technologies,Data Science Analyst,"New Delhi, Hyderabad/Secunderabad, Faridabad",Data Science\nNLP\nData Scientist\nPython\nArt...
51,PayU,Business Analyst - Data Science,Bangalore/Bengaluru,Computer science\nWealth management\nLead Busi...
52,MSD Pharmaceuticals,"Manager, Data Science",Pune,CVS\nClaims\nPharma\nMachine learning\nJavascr...
53,Bajaj Finserv,Manager - Payments - Data Science,Pune,NoSQL\ncassandra\nMachine learning\nData colle...
54,Indihire Private Limited,Data Science Technical Lead,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",Data Science\nPython\nIT Skills\nMachine Learn...
55,Tredence,Manager - Data Science,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR",python\nnlp\ndata science\nmachine learning\nI...
56,TransOrg Solutions Services (P) Ltd.,Data Science Manager,"Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Are...",python\nsql\nr\nExcel\nPower Bi\nLinear Regres...
57,Isha Foundation,Data Science Manager,Coimbatore,data science\npython\nSAS\ndatasc\nSpark\nmach...
58,CIGNEX Datamatics,Data Science,"Pune, Ahmedabad, Gurgaon/Gurugram, Bangalore/B...",Data Science\nModel Building\nData Collection\...

In [65]:
driver.close()

Q8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare/

In [66]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [67]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [68]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [69]:
Details=[]
details=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in details:
    details=i.text
    Details.append(details)

In [70]:
len(Details)

500

In [82]:
Book_name=Details[1::5]
Author_name=Details[2::5]
Volumes_sold=Details[3::5]
Publisher=Details[4::5]

In [83]:
Genre=[]
genre=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre:
    genre=i.text
    Genre.append(genre)

In [84]:
df=pd.DataFrame({'Book name':Book_name,'Author name':Author_name,'Volumes sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [85]:
driver.close()

Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

In [86]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [87]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [88]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [89]:
Series=[]
series=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in series:
    series=i.text
    Series.append(series)

In [101]:
Year_span=[item.split('(',1)[1]for item in Series]
Name=[item.split('(',1)[0]for item in Series]
Name1=[item.split('. ',1)[1]for item in Name]

In [94]:
Genre=[]
genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre:
    genre=i.text
    Genre.append(genre)

In [95]:
Runtime=[]
runtime=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in runtime:
    runtime=i.text
    Runtime.append(runtime)

In [96]:
Ratings=[]
ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in ratings:
    ratings=i.text
    Ratings.append(ratings)

In [97]:
Votes=[]
votes=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes:
    votes=i.text
    Votes.append(votes)

In [102]:
print(len(Name1),len(Year_span),len(Genre),len(Runtime),len(Ratings),len(Votes))

100 100 100 100 100 100

In [103]:
df=pd.DataFrame({'Series name':Name1,'Year span':Year_span,'Genre':Genre,'Run time':Runtime,'Ratings':Ratings,'Votes':Votes})
df

,Series name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,048,881"
1,Stranger Things,2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,144,950"
2,The Walking Dead,2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,144"
3,13 Reasons Why,2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,793"
4,The 100,2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,374"
...,...,...,...,...,...,...
95,Reign,2013–2017),Drama,42 min,7.4,"49,552"
96,A Series of Unfortunate Events,2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,557"
97,Criminal Minds,2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,764"
98,Scream: The TV Series,2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,020"
99,The Haunting of Hill House,2018),"Drama, Horror, Mystery",572 min,8.6,"236,385"

In [105]:
driver.close()

Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

In [106]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [107]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [108]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [109]:
driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [131]:
Details=[]
details=driver.find_elements(By.XPATH,'//p[@class="normal"]')
for i in details[9:]:
    details=i.text
    Details.append(details)

In [132]:
Details.insert(0, "Abalone")

In [133]:
Datasetname=Details[0::7]
Datatype=Details[1::7]
Task=Details[2::7]
Attributetype=Details[3::7]
No_of_instances=Details[4::7]
No_of_attributes=Details[5::7]
Year=Details[6::7]

In [134]:
Datasetname.pop()

'Supported By:'

In [138]:
print(len(Datasetname),len(Datatype),len(Task),len(Attributetype),len(No_of_instances),len(No_of_attributes),len(Year))

622 623 622 622 622 622 622

In [141]:
Datatype.pop()

' In Collaboration With:'

In [142]:
df=pd.DataFrame({'Dataset name':Datasetname,'Datatype':Datatype,'Task':Task,'Attributetype':Attributetype,'No. of instances':No_of_instances,'No. of attributes':No_of_attributes,'Year':Year})
df

,Dataset name,Datatype,Task,Attributetype,No. of instances,No. of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [143]:
driver.close()

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [10]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import Select

In [2]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\FlipRobo_Technologies\chromedriver.exe")

In [3]:
driver.get('https://www.statisticstimes.com/')

In [28]:
drop=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [29]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [30]:
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [35]:
Rank=[]
rank=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank[0:33]:
    rank=i.text
    Rank.append(rank)
    
State=[]
state=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state[0:33]:
    state=i.text
    State.append(state)

In [36]:
print(len(Rank),len(State))

33 33

In [37]:
GSDP=[]
gsdp=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in gsdp[0:165]:
    gsdp=i.text
    GSDP.append(gsdp)

In [43]:
GSDP1920=GSDP[0::5]
Share1819=GSDP[1::5]
GDPbillion=GSDP[2::5]

In [45]:
print(len(GSDP1920),len(Share1819),len(GDPbillion))

33 33 33

In [47]:
GSDP1819=[]
gsdp1819=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gsdp1819[0:33]:
    gsdp1819=i.text
    GSDP1819.append(gsdp1819)

In [48]:
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP 19-20':GSDP1920,'GSDP 18-19':GSDP1819,'Share 18-19':Share1819,'GDP $ billion':GDPbillion})
df

,Rank,State,GSDP 19-20,GSDP 18-19,Share 18-19,GDP $ billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [49]:
driver.close()